@media (min-width: 1200px) {
    .container{
        align-items: center;
        max-width: 970px;
    }
}

body {
    color: rgb(233, 216, 166);
    background-color: rgb(1, 22, 30);
}

#status-col{
    width: 600px;
    height: 200px;
    border-radius: 20px;
    background: rgb(0, 95, 115);
}

#bar-makan{
    width: 0%;
    background-color: rgb(238, 155, 0);
}

#bar-belajar{
    background-color: rgb(238, 155, 0);
}
#bar-main{
    background-color: rgb(238, 155, 0);
}
#bar-tidur{
    background-color: rgb(238, 155, 0);
}

#button-makan{
    text-align: center;
    background-color: rgb(233, 216, 166);
}
#button-belajar{
    text-align: center;
    background-color: rgb(233, 216, 166);
}
#button-main{
    text-align: center;
    background-color: rgb(233, 216, 166);
}
#button-tidur{
    text-align: center;
    background-color: rgb(233, 216, 166);
}

/*Tampilan Pilih Avatar*/
#nama
{
    width: 200px;
    height: 70px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(233, 216, 166);
}

#Avatar{
    background-color: rgba(233, 216, 166, 0.082);
    width: 300px;
}

#button-play{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(233, 216, 166);
}