@media (min-width: 1200px) {
    .container{
        align-items: center;
        max-width: 970px;
    }
}

body {
    color: rgb(255, 253, 253);
    background-color: rgb(1, 22, 30);
}

#status-col{
    width: 600px;
    height: 200px;
    border-radius: 20px;
    background: rgb(0, 95, 115);
}

#bar-makan{
    color: black;
    background-color: rgb(238, 155, 0);
    
}
#bar-belajar{
    color: black;
    background-color: rgb(238, 155, 0);
}
#bar-main{
    color: black;
    background-color: rgb(238, 155, 0);
}
#bar-tidur{
    color: black;
    background-color: rgb(238, 155, 0);
}


