@media (min-width: 1200px) {
    .container{
        align-items: center;
        max-width: 970px;
    }
}

body {
    color: rgb(239, 246, 224);
    background-color: rgb(1, 22, 30);
}

#status-col{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    background: rgb(18, 69, 89);
}

#logo svg{
    width: 200 px;
    justify-content: center;
    align-items: center;
}

.jam{
    overflow: hidden;
    width: 330px;
    margin: 20px auto;
    border: 5px solid #efefef;
}

.jam p{
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
}

